.counter
{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 1rem;
    padding: 1rem 0;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.55);
}

.counter h4
{
    margin: 0.3rem 0;
}


.counter__songs-count
{
    border: solid 2px #038BFF;
    border-radius: 6px;
    padding: 1rem;
    margin-right: 1rem;
    text-align: center;
    width: 25%;
}
.counter__total-price
{
    border: solid 2px #038BFF;
    border-radius: 6px;
    padding: 1rem;
    margin-left: 1rem;
    text-align: center;
    width: 25%;
}